.at-input {
  border: 2px solid #ccc;
  padding: 0 20px;
  border-radius: 15px;
  margin-top: 30px;
}

.go-signIn {
  text-align: right;
  margin-top: 30px;
  color: #409eff;
  font-size: 30px;
}

.go-signIn navigator {
  display: inline-block;
}

.password-input {
  position: relative;
}

.password-btn {
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  z-index: 99;
}

.password-btn::before {
  font-size: 50px;
  color: #ccc;
}

.icon-watch::before {
  color: #409eff;
}

.code-input {
  float: left;
  width: 55%;
}

.send-code-btn {
  float: right;
  width: 40%;
  margin-top: 30px;
}
