.at-input {
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 15px;
  margin-top: 30px;
}

.go-signIn {
  text-align: right;
  margin-top: 30px;
}

.go-signIn navigator {
  display: inline-block;
  color: #409eff;
}
