.avatarUrl {
  float: left;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.nickName {
  float: left;
  line-height: 150px;
  font-size: 40px;
  margin-left: 40px;
  padding-right: 100px;
  position: relative;
}

.nickName.icon::before {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 50px;
}

.nickName.icon-nan {
  color: #3296e6;
}

.nickName.icon-nv {
  color: #ff7171;
}

.nav-list {
  margin: 50px 0;
  color: #333;
}

.nav-item {
  width: 32%;
  float: left;
  font-size: 32px;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  padding: 20px 0;
  background: #409eff;
  color: #fff;
  border-radius: 10px;
  margin: 2% 0 0 2%;
}

.nav-text {
  display: block;
}
