.nav-list {
  margin: 50px 0;
  color: #333;
}

.nav-item {
  font-size: 32px;
  line-height: 80px;
  border-bottom: 1px solid #f2f2f2;
  letter-spacing: 1px;
}

.nav-item::before {
  margin-right: 20px;
}

.nav-item.icon::before {
  color: #333;
}

.nav-item .at-icon {
  float: right;
  line-height: 80px;
}

.avatarUrl {
  float: left;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.nickName {
  float: left;
  line-height: 150px;
  font-size: 40px;
  margin-left: 40px;
  padding-right: 100px;
  position: relative;
}

.nickName.icon::before {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 50px;
}

.nickName.icon-nan {
  color: #3296e6;
}

.nickName.icon-nv {
  color: #ff7171;
}
