.at-input {
  border: 2px solid #ccc;
  padding:0 20px;
  border-radius: 15px;
  margin-top: 30px;
}

.go-signUp {
  text-align: right;
  margin-top: 30px;
  color: #409eff;
  font-size: 30px;
}

.go-signUp navigator {
  display: inline-block;
}
