.skill-list-wrap {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
}

.echarts-item {
  height: 100vh;
  position: relative;
}

.echarts {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.echarts div,
.echarts div canvas {
  height: 100% !important;
}


.skill-echarts1 {
  height: 600px;
}

.skill-echarts2 {
  height: 1100px;
}

.skill-echarts3 {
  height: 800px;
}

.skill-echarts4 {
  height: 650px;
}

.next {
  position: fixed;
  bottom: 10%;
  right: 0;
  z-index: 999;
  width: 120px;
  height: 120px;
  line-height: 120px;
  background: #409eff;
  border-radius: 50%;
  text-align: center;
  color: #fff;
}

.next::before {
  font-size: 60px;
}
