.skill-wrap {
  padding: 0 30px;
}

.echarts {
  margin-bottom: 80px;
}

.skill-echarts1 {
  height: 600px;
}

.skill-echarts2 {
  height: 1200px;
}

.skill-echarts3 {
  height: 800px;
}

.skill-echarts4 {
  height: 640px;
}
