.blog-wrap {
  background: #f2f2f2;
}

.item {
  background: #fff;
  padding: 30px;
  margin-top: 30px;
}

.item-title {
  font-size: 32px;
  font-weight: bold;
  line-height: 50px;
  display: inline-block;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  overflow: hidden;
  /*! autoprefixer: ignore next;
   这是如果是在react脚手架下加上这句应该是没问题的，但是taro下失效
  */
  -webkit-box-orient: vertical;
}

.add-time {
  float: left;
  font-size: 24px;
  color: #999;
}

.item .icon::before {
  color: #999;
  font-size: 30px;
  margin-right: 10px;
}

.item-tag {
  font-size: 24px;
  color: #999;
}

.tag-item {
  display: inline-block;
  margin-right: 10px;
}

.item-intro {
  margin-top: 15px;
  font-size: 30px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.item-cover {
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
}
