.title-wrap {
  text-align: center;
  color: #409eff;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

.title-container .title,
.title-container .title-padding-box {
  margin-top: 0;
  height: 90px;
  position: relative;
  font-weight: normal;
}

.title-text {
  position: absolute;
  left: 50%;
  line-height: 90px;
  transform: translateX(-50%);
  font-size: 36px;
}

.back {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  font-size: 40px;
  line-height: 90px;
  font-weight: bold;
}
