.contact {
  font-size: 30px;
  padding: 30px;
}

.introduce-text {
  display: inline-block;
  text-indent: 60px;
  margin-bottom: 20px;
}

.email {
  display: block;
  font-size: 30px;
  line-height: 60px;
}

.email::before {
  display: inline-block;
  margin-right: 20px;
  line-height: 60px;
}

.google::before {
  color: #4285f4;
}

.qq::before {
  color: #d53118;
}
