.header {
  text-align: center;
  line-height: 80px;
  color: #409eff;
}

.at-icon::before {
  line-height: 80px;
  font-size: 60px;
  position: fixed;
  top: 0;
  left: 30px;
}

.zhihu-hot-item {
  padding: 20px 0;
}

.zhihu-hot-item Text {
  float: left;
  width: 62%;
  font-size: 32px;
  height: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.zhihu-hot-item View {
  float: right;
  width: 35%;
  border-radius: 10px;
  height: 140px;
}
