.index-wrap {
  background: #f2f2f2;
}

.header {
  text-align: center;
  line-height: 90px;
  color: #409eff;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.title-text {
  position: absolute;
  left: 50%;
  line-height: 90px;
  transform: translateX(-50%);
  font-size: 36px;
}

.index-wrap .at-icon {
  float: left;
  margin-left: 30px;
}

.index-wrap .at-icon::before {
  line-height: 90px;
  font-size: 60px;
}

.zhihu-hot-item {
  padding: 30px;
  margin: 20px 0;
  background: #fff;
}

.zhihu-hot-item .text {
  float: left;
  font-size: 30px;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.zhihu-hot-item .image {
  float: right;
  width: 30%;
  border-radius: 10px;
  height: 140px;
}

.heat {
  font-size: 22px;
  color: #8590a6;
  margin-bottom: 5px;
}

.heat .number {
  display: inline-block;
  margin-right: 20px;
  width: 40px;
  border-radius: 7px;
  text-align: center;
  color: #fff;
}

.menu-list {
  padding: 30px 10px 0 30px;
}

.menu-item {
  font-size: 34px;
  line-height: 86px;
  height: 90px;
  border-bottom: 1px solid #f2f2f2;
  letter-spacing: 1px;
}

.menu-item::before {
  font-size: 40px;
  margin-right: 20px;
}

.menu-item.icon::before {
  color: #3296e6;
}

.menu-item.icon-music::before {
  color: red;
}

.menu-item .at-icon {
  float: right;
}

.menu-item .at-icon::before {
  font-size: 44px;
}

.shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.shadow-wrap {
  position: absolute;
  width: 80%;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  padding: 50px 30px;
  background: #fff;
}

.shadow-hint {
  color: #3296e6;
  font-size: 30px;
  line-height: 80px;
  margin-bottom: 50px;
}
